html, body {
  padding: 0;
  margin: 0;
}

.jumbotron {
  height: auto;
  background-image: url('../img/eleves.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0.5em;
}

